@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  color: blue;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
a {
  color: blue;
}
.app {
  text-align: center;
}
.btn {
  background: linear-gradient(103.91deg, #9B51E0 21.01%, rgba(48, 129, 237, 0.8) 100%);
  border: none;
  padding: 5px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  color: white;
}